@import url(data.css);

:root {
    --stickerWidth: 58mm;
    --stickerHeight: 39.9mm;
	/* page: 300; */
}
* {
    box-sizing: border-box;
}


/* @font-face {
    font-family: 'Baloo Cyrillic';
    src: url('fonts/BalooCyrillic.ttf') format('truetype');
} */

body,
html {
    font-family: Manrope;
    font-weight: 200;
    margin: 0;
    padding: 0 0 0 0;
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }
}

.var__batchNumber,
.var__date,
.var__owner,
.var__address,
.var__mail,
.var__id,
.var__color,
.var__inside,
.var__name,
.var__length {
	font-style: normal;
}
.var__date {
	text-wrap: nowrap;
}
.var__owner {
	hyphens: none;
}

.sticker {
    position: absolute;
    left: 0;
    /* bottom: 100%; */
    transform-origin: 0 100%;

    width: var(--stickerWidth);
    height: var(--stickerHeight);
    /* margin-left: auto; */

    /* background-color: red; */
    -webkit-print-color-adjust: exact;

    display: flex;
    align-items: center;
    justify-content: center;

	overflow: hidden;

    /* transform: rotate(90deg); */
}
.sticker__wrapper {
    /* display: flex; */
	position: absolute;
	top: 1mm;
    flex-direction: column;
    gap: 1mm;
    /* justify-content: center; */
    /* background: green; */
	/* margin-top: -20px; */
	/* padding: 0 2mm; */
	padding: 0;
	height: calc(var(--stickerHeight) - 1mm);
}
.sticker_box .sticker__wrapper {
	padding-top: 10px;
	gap: 0;
}
.sticker_box .sticker__wrapper {
    display: flex;
	width: 100%;
}
.sticker__text {
    font-size: 6.5pt;
    line-height: .99;
    display: block;
    /* width: calc(var(--stickerWidth) - 3mm); */
	hyphens: auto;
	padding-left: 7px;
	padding-right: 5px;
	padding-bottom: 3px;
	position: relative;
	background-color: #fff;
}
.sticker_box .sticker__text {
	/* background-color: red; */
	width: 100%;
	font-size: 8pt;
	margin-top: 3px;
}
.sticker.sticker_win {
	font-family: Tahoma;
}
.sticker__text.sticker__text_win {
	/* font-size: 6.7pt; */
	display: block;
}

.sticker_box .var__name {
	font-size: 10pt;
	font-weight: 400;
	margin-top: -5px;
	display: block;
}

.sticker__batchNumber,
.sticker__date {
	font-style: normal;
}
.sticker__batchNumber::before {
	content: var(--batchNumber);
}

.sticker__date::before {
	content: var(--date);
	text-wrap: nowrap;
}

.sticker__barcode {
	/* margin-left: 1px; */
	position: absolute;
	bottom: 0;
	right: 5px;
	/* margin-bottom: -41px; */
	/* height: 40px; */
	/* background-color: green; */
}
.sticker__barcode.sticker__barcode_box {
	/* bottom: 100%; */
	right: auto;
	left: 8px;
}

.sticker__barcode-text,
.sticker__id {
    font-size: 7pt;
    line-height: 0.9;
	position: absolute;
	right: 5px;
	bottom: 0;
	/* bottom: 6.2mm; */
	font-weight: 400;
	z-index: 1;
	background-color: #fff;
	/* padding: 3.5px; */
	padding-top: 1px;
	padding-right: 2px;
	padding-left: 1px;
	padding-bottom: 1px;
}
.sticker_box .sticker__id {
	position: relative;
	padding-left: 2px;
	font-size: 9pt;
	color: #000;
	background-color: #fff;
	font-weight: 500;
	
}
.sticker_box .sticker__barcode-text {
	position: relative ;
	inset: 0 7px;
	font-size: 9pt;
	padding-bottom: 15px;
}

.name {
	display: none;
}

.sticker__id {
	z-index: 1;
	background-color: #000;
	color: #fff;
	font-weight: 700;
	left: 0;
	right: auto;
	padding-left: 7px;
}
